<table class="body">
  <tr>
    <td class="center" align="center" valign="top">
      <center>

        <table class="container page">
          <tr>
            <td>

              <table class="row">
                <tr>
                  <td class="wrapper last">

                    <table class="twelve columns">
                      <tr>
                        <td>
                          <center>
                            <h3 class="center spaced">Some test {{hello}}</h3>
                          </center>
                        </td>
                        <td class="expander"></td>
                      </tr>
                      <tr>
                        <td>
                          <ul>
                          </ul>
                        </td>
                        <td class="expander"></td>
                      </tr>
                      <tr class="signature">
                        <td>
                          - Safely
                        </td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>

            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>
