<!-- <style> -->
<table class="body">
  <tr>
    <td class="float-center" align="center" valign="top">
      <center data-parsed="">
        {{> "safely-header"}}
        <table align="center" class="container body-drip float-center">
          <tbody>
            <tr>
              <td>
                <table class="row">
                  <tbody>
                    <tr>
                      <th class="small-12 large-12 columns first last">
                        <h3>Welcome to Safely!</h3>
                      </th>
                    </tr>
                  </tbody>
                </table>

                <table class="spacer">
                  <tbody>
                    <tr>
                      <td></td>
                    </tr>
                  </tbody>
                </table>

                <table class="row">
                  <tbody>
                    <tr>
                      <th class="small-12 large-12 columns first last">
                        <table>
                          <tr>
                            <th>
                              <p class="text-center">This is some text that welcomes you to safely and explains what safely is. Welcome welcome welcome. Blah blah blah. Book registrants quick, get availability instantly.</p>
                              <center data-parsed="">
                                <table class="button success float-center">
                                  <tr>
                                    <td>
                                      <table>
                                        <tr>
                                          <td><a href="https://safely.mssc.org/activate/{{user._id}}">Activate Your Account</a></td>
                                        </tr>
                                      </table>
                                    </td>
                                  </tr>
                                </table>
                              </center>
                            </th>
                            <th class="expander"></th>
                          </tr>
                        </table>
                      </th>
                    </tr>
                  </tbody>
                </table>
                <table class="row collapsed footer">
                  <tbody>
                    <tr>
                      <th class="small-12 large-12 columns first last">
                        <table>
                          <tr>
                            <th>
                              <table class="spacer">
                                <tbody>
                                  <tr>
                                    <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                                  </tr>
                                </tbody>
                              </table>
                              <p class="text-center">&copy; Montana Safety Services Counsel</p>
                            </th>
                            <th class="expander"></th>
                          </tr>
                        </table>
                      </th>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </center>
    </td>
  </tr>
</table>
