<!-- <style> -->
<table class="body">
  <tr>
    <td class="float-center" align="center" valign="top">
      <center data-parsed="">
        {{> "safely-header"}}
        <table align="center" class="container body-drip float-center">
          <tbody>
            <tr>
              <td>
                <table class="row">
                  <tbody>
                    <tr>
                      <th class="small-12 large-12 columns first last">
                        <h3>Welcome to Safely!</h3>
                      </th>
                    </tr>
                  </tbody>
                </table>

                <table class="spacer">
                  <tbody>
                    <tr>
                      <td></td>
                    </tr>
                  </tbody>
                </table>

                <table class="row">
                  <tbody>
                    <tr>
                      <th class="small-12 large-12 columns first last">
                        <table>
                          <tr>
                            <th>
                              <p class="text-center">
                                Good day!

                                You are receiving this email because we show you are a scheduling contact for the Montana Safety Services Council computer based training.

                                We have been working towards and have now completed our online registration tool, Safely.  Now you can schedule your employees for Refinery Orientation and other computer based training courses with real-time availability.  You can view your currently scheduled training and/or cancel an employee if needed.  Please contact us at (406) 248-4893 if you need assistance.

                                **At this time, ExxonMobil registration is not available online.  You will need to call our office, (406) 248-4893 or email lab@mssc.org.
                              </p>
                              <p class="text-center">
                                Please contact us at (406) 248-4893 if you need assistance.
                              </p>
                              <center data-parsed="">
                                <table class="button success float-center">
                                  <tr>
                                    <td>
                                      <table>
                                        <tr>
                                          <td><a href="http://lab.mssc.org/activate/{{user._id}}">Activate Your Account</a></td>
                                        </tr>
                                      </table>
                                    </td>
                                  </tr>
                                </table>
                              </center>
                            </th>
                            <th class="expander"></th>
                          </tr>
                        </table>
                      </th>
                    </tr>
                  </tbody>
                </table>
                <table class="row collapsed footer">
                  <tbody>
                    <tr>
                      <th class="small-12 large-12 columns first last">
                        <table>
                          <tr>
                            <th>
                              <table class="spacer">
                                <tbody>
                                  <tr>
                                    <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                                  </tr>
                                </tbody>
                              </table>
                              <p class="text-center">&copy; Montana Safety Services Counsel</p>
                            </th>
                            <th class="expander"></th>
                          </tr>
                        </table>
                      </th>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </center>
    </td>
  </tr>
</table>
