{{! Admin Footer Partial}}

{{#if reason}}
  <table class="row">
    <tr>
      <td class="wrapper last">
      
        <table class="twelve columns">
          <tr>
            <td align="center" class="reason-wrapper">
              <center>
                <p class="small" style="text-align: center;">You received this email because {{reason}}</p>
              </center>
            </td>
            <td class="expander"></td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
{{/if}}

<table class="row">
  <tr>
    <td class="wrapper last">

      <table class="twelve columns">
        <tr>
          <td align="center">
            <center>
              <p style="text-align: center;"><a href="http://admin.slatepayroll.com">Administration Panel</a></p>
            </center>
          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>
