{{! Company Header Partial}}
{{!-- <table class="logo__strip"><tr><td></td></tr></table> --}}
<table class="row header">
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last">

              <table class="twelve columns">
                <tr>
                  <td class="twelve sub-columns">
                    <h2 class="logo">
                      <center>
                        <img class="center" src="https://s3.amazonaws.com/granite-assets/logos/granite-logo-mountains-outlined-sm.png" width="236" height="55" alt="Granite HR"/>
                      </center>
                    </h2>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>

            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>

<table class="logo-strip">
  <tr class="logo-strip__row">
    <td class="logo-strip__red"></td>
    <td class="logo-strip__blue"></td>
    <td class="logo-strip__grey"></td>
    <td class="logo-strip__green"></td>
  </tr>
</table>
